.presentation{
  display: flex;
  flex-direction: column;
  font-family: Comic Sans MS;
  margin-bottom: 100px;  
}

h1{
  font-size: 70px;
  font-weight: bold;
  padding-top: 50px;
  
}

h2{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
  color:dimgray;
}

.info{
  font-size: 15px;
  color: darkgray;
  font-family: Comic Sans MS;
  cursor: pointer;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
} 